<% title "How to Brew" %>


<div class="hero-unit"><h1>How to Brew</h1>
<p>Welcome to How to Brew, the site dedicated to getting you started on the path to home brewing.</p>
</div>

<div>
  <h2>How to Brew With a Wine Kit</h2>
  <p>Brewing with a wine kit can be a great way to get familiar with the whole wine-making process.  This article will discuss what to expect when working with a wine kit, including the steps you will follow and the ingredients the kits contain.</p>
  <p><a href="<%= url_for(:action => 'index', :controller => 'article', :viewName => 'how-to-brew-with-a-wine-kit') %>" class="btn btn-primary btn-small">Read more</a></p>	
</div>

<div>
  <h2>Equipment</h2>
  <p>This article discusses the list of the equipment you'll need to get started in home brewing.  They can be purchased as a starter kit from your local home brewing store.</p>
  <p><a href="<%= url_for(:action => 'index', :controller => 'article', :viewName => 'equipment-for-home-brewing') %>" class="btn btn-primary btn-small">Read more</a></p>	
</div>
