<h1>How to Brew</h1>
<p>Welcome to How to Brew, the site dedicated to getting you started on the path to home brewing.</p>

<h2>Getting Started</h2>
<p>The following equipment will be useful to getting you started:</p>
<dl>
  <dt>Primary Fermenter</dt>
  <dd>
	<img class="img-polaroid item-img" src="http://vinquip.ca/images/samples/05001.jpg" /> 
	<div>This is the main fermenter that will be used in the initial step of your brewing process.  It is basically a bucket with 		a small hole in the lid, in which you will plug your airlock.</div>
  </dd>	
  <dt>Carboy</dt>
  <dd>
	<img class="img-polaroid item-img" src="http://ecx.images-amazon.com/images/I/41ZXvPDKD3L._SY300_.jpg" />
	<div>The secondary fermenter.  This will be used after initial fermentation, usually in the clarification process, or in the second step of a multi-fermentation process.</div>
  </dd>
</dl>
