<% title "How to Brew" %>


<div class="hero-unit"><h1>How to Brew</h1>
<p>Welcome to How to Brew, the site dedicated to getting you started on the path to home brewing.</p>
</div>

<div>
  <h2>Equipment</h2>
  <p>The following is a list of the equipment you'll need to get started in home brewing.  They can be purchased as a starter kit from your local homebrewing store.</p>
  <p><a href="<%= url_for(:action => 'index', :controller => 'equipment') %>" class="btn btn-primary btn-small">Read more</a></p>	
</div>
