<% title "How to Brew: Equipment for Getting Started" %>

<div class="article">
<h1>Equipment for Home Brewing</h1>
<p>The following equipment will be useful in getting you started home brewing:</p>
<dl>
  <dt>Primary Fermenter</dt>
  <dd>
	<div>This is the main fermenter that will be used in the initial step of your brewing process.  It is basically a bucket with 		a small hole in the lid, in which you will plug your airlock.</div>
  </dd>	
  <dt>Carboy</dt>
  <dd>
	<div>The secondary fermenter.  This will be used after initial fermentation, usually in the clarification process, or in the second step of a multi-fermentation process.</div>
  </dd>
  <dt>Airlock</dt>
  <dd>
	<div>This will be what you plug either into the hole in your primary fermenter bucket lid, or the bung in your carboy.  This allows gas to escape during fermentation, while not letting outside air and other contaminants into your wort.</div>
  </dd>
  <dt>Corker</dt>
  <dd>
	<div>This will allow you to cork your bottles after the brewing process is done.  This is one of the first things you might want to upgrade.</div>
  </dd>
  <dt>Bung (or Stopper)</dt>
  <dd>
	<div>Used to plug the carboy or any other fermenter.  It is a rubber stopper that also contains a hole for the airlock.</div>
  </dd>
</dl>
</div>
