<% title "Working with a Wine Kit" %>

<div class="article">
<h1>How to Brew With a Wine Kit</h1>
<%= image_tag "winekit.jpg", :alt=>"Working with a Wine Kit", :width=>"300", :class=>"article-image" %>
<div>
Below are the steps you will follow when working with a wine kit.
</div>

<h2>Primary Fermentation</h2>
<p>The first step in brewing from a kit is primary fermentation.  You will need a primary fermenter (usually a bucket), a hygrometer, and a floating thermometer.</p>

<p>Typically you will start by adding bentonite to some warm water, and stirring it up in your fermenter.  Bentonite is a fining agent, meaning that it will attract unwanted solids from your must, forming them into a solid clump at the bottom of your fermenter, and making your wine that much clearer in the end.</p>

<p>Next, use your hygrometer to measure the starting level of your must.  Also ensure your must is at a good temperature before adding yeast, usually around 72-75 degrees Fahrenheit.  The appropriate levels for these measurements should be in the instructions that come with your kit.</p>

<p>Finally, you will add the yeast on top of the must.  This shouldn’t be mixed in, but rather allowed to float on top, where it will eventually incorporate into the juice.  Let your mixture sit for around 5 to 7 days, and you will be ready to move on to your next step.</p>

<h2>Secondary Fermentation</h2>
<p>After several days, your must should reach a certain specific gravity, as indicated by your kit’s instructions.  Using your hygrometer, measure your specific gravity, and if it’s in the appropriate range,  you can now rack your wine into your secondary fermenter (usually a carboy).</p>

<p>Fermentation may not continue at this stage, which is ok.  The benefit of racking is to get the wine off of the solids and dead yeast that formed at the bottom of your primary fermenter.</p>

<p>This step will usually last a bit longer than primary fermentation, maybe 10 days or so.</p>

<h2>Stabilizing/Clarification</h2>
<p>This is one of the more interesting steps in winemaking.  It starts with adding metabisulphite and sorbate to your wine.  Potassium metabisulphite creates a gas (sulfur dioxide) that helps preserve your wine by killing microorganisms.  It also helps protect the wine’s color and flavor.  Potassium sorbate works with sulfur dioxide to kill bacteria that can form during fermentation.</p>

<p>After you add the stabilizers, you will mix your wine to stir them in completely as well as to remove carbon dioxide.  Stirring will also stir up any sediment that settled during secondary fermentation.</p>

<p>Some wine kits come with an F-pack (sometimes called a finishing or flavor pack).  This is a juice concentrate that helps return flavor to some wines after fermentation.  If your kit contains one, now is usually when you’ll add it.</p>

<p>Once everything is mixed up, you will add another clarifier (often Chitosan).  Like bentonite, this will attach to the solids you just stirred up, further clarifying your wine.</p>

<h2>Second Racking (Optional)</h2>
<p>Some higher-end kits will have you rack your wine again.  For this you step you will just rack your wine into another fermenter (a bucket or carboy will do).  These lets the wine settle even more, making it even clearer.</p>

<p>Note that if you want to preserve your kit wine for a long period of time, you might want to add a small amount (about ¼ of a teaspoon) of metabisulphite to the wine.  This will keep it preserved for a long time, and not affect its taste.</p>

<h2>Bottling</h2>
<p>After letting your wine clarify anywhere from a week to a month, you are now ready to bottle your wine.  Some recommendations for this step:</p>
<ol>
<li>Get a free-standing corker, and get rid of the hand corker that comes with many starter kits.  You will save yourself a lot of aggravation and time.</li>
<li>Upgrade your siphon rod to a better, spring-loaded one to reduce leaking issues when bottling.</li>
</ol>
<p>Fill your bottles, cork them, and let the bottles stand upright for a few days so that the corks settle in.  Once that’s done, put the bottles on your wine rack and enjoy!</p>
</div>
